
.category, .categoryActive {
    position: relative;
    padding: 6px 15px;
    font-size: 18px;
    cursor: pointer;
}

.categoryActive {
    background-color: rgba(220, 220, 220, 0.5);
}

.category:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

.category__add {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
}

.category__remove {
    display: none;
}
