
.naw {
    padding: 0 8px;
    display: flex;
    min-width: 350px;
    font-size: 18px;
}

.naw__item, .naw__item__active {
    margin: 18px 15px;
    cursor: pointer;
    text-decoration: none;
    color: #727e86;
    transition: color 0.2s;
}
.naw__item__active {
    color: #363535;
    font-weight: 600;
    border-bottom: 2px solid #d91919;
}

.naw__item:hover {
    color: #d91919;
}
