.filter {
    margin: 0 auto 30px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: #717d86;
    font-size: 22px;
}

.filter__item,
.filter__item__active {
    margin: 0 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.filter__item__active {
    color: black;
    border-bottom: 3px solid #d33131;
}


.filter__item:hover {
    color: #d33131;
}