.size, .sizeAdd {
    margin: 8px;
    padding: 12px 0 0 12px;
    width:35px;
    height:35px;
    font-size: 20px;
    display: flex;
    border-radius: 50%;
    border: 2px solid rgba(206, 206, 206, 0.86);
    cursor: pointer;
    transition: border 0.2s;
}

.sizeAdd {
    border: 2px solid #d33131;
}

.size:hover {
    border: 2px solid rgba(133, 133, 133, 0.86);
}

.size__checkbox {
    margin-left: 5px;
}