.item {
    margin: 0 12px 24px;
    position: relative;
    text-align: left;
    min-width: 260px;
    min-height: 360px;
    box-shadow: 0 0 2px 0.5px rgba(72, 71, 71, 0.33);

    border-radius: 5px;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 0 2px 0.5px rgb(211, 49, 49);
}

.item__imgBlock {
    padding: 5px;
    position: relative;
    text-align: center;
    height: 260px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.item__img {
    max-width: 240px;
    max-height: 260px;
}

.item__info {
    position: relative;
    width: 250px;
    height: 100px;
    text-align: center;
}

.item__name {
    margin: 0 15px;
    font-size: 19px;
    font-weight: 400;
    color: #2b3131;
}

.item__oldPrice {
    position: absolute;
    bottom: 45px;
    left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(63, 63, 63, 0.75);
    text-decoration: 2px line-through red;
}

.item__button {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-align: right;
    transition: opacity 0.3s;
}

.item__info__like:hover {
    opacity: 0.8
}


.item__button__icon {
    position: absolute;
    left: 15px;
    bottom: 5px;
    width: 28px;
}


.item__info__like {
    padding: 3px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    cursor: pointer;
}
