.item {
    /*margin: 0 44px 20px 0;*/
    margin: 0 12px 24px;
    position: relative;
    text-align: left;
    min-width: 300px;
    height: 550px;
    border: 2px solid #e3e3e4;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.9s;
}
/*.item:nth-child(3n) {*/
/*    margin: 0 0 20px 0;*/
/*}*/

.item__img {
    width: 300px;
}

.item__name {
    position: absolute;
    left: 20px;
    bottom: 120px;
}

.item__price {
    position: absolute;
    left: 20px;
    bottom: 80px;
}

.item__button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 8px 15px;
    background-color: white;
    border: 2px solid #a0b2be;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}