.catalog {
    margin-top: 100px;
    text-align: center;
}

.catalog__input {
    margin: 0 0 25px;
    width: 90%;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 5px 15px;
    box-shadow: 0 0 5px 1px rgba(34, 60, 80, 0.18);
    outline: none;
}

.catalog__title {
    margin: 25px 0;
    font-size: 25px;
    font-weight: 500;
}

.catalog__list {
    display: flex;
}